$side-menu-bg: #273238;
$side-menu-item-bg: #415b72;

$blue: #1D3A61;
$green: #319120;
$highlight-green: #9ed447;
$highlight-red: #B20000;

$titlebar-text:  #fff;
$white-mask: rgba(255, 255, 255, 0.85);
$white-bg:  #fff;
$white-text:  #fff;
$gray-content: #5F5E5C;
$active-link: blue;

$bread-crumb-active-color: #229FC5;
$bread-crumb-passed-color: #7FB154;
$bread-crumb-disabled-color: #9C9D9E;

$frog-color:#558B2F;
$frog-sub-color:#9ed447;
$mammal-color:#d96125;
$mammal-sub-color:#f29e25;
$fish-color:#0070c5;
$fish-sub-color:#00b0e2;
$waterbird-color:#4a176e;
$waterbird-sub-color:#806eb0;

$button-green: #2B9314;
$home-blue-button: #00b0e2;