$fish-icon: '\e90b';
$frog-icon: '\e90c';
$mammal-icon: '\e90d';
$waterbird-icon: '\e90e';
$species-icon: '\e90f';
$camera-icon: '\e916';
$map-icon: '\e904';
$nccma-icon: '\e907';
$report-icon: '\e905';
$info-icon: '\e900';
$home-icon: '\f144';
$my-details-icon: '\f3a0';
$range-icon: '\f14b';
$debug-icon: '\f2be';
$whereabout-icon: '\f456';
$game-icon: '\f439';
