<ion-view view-title="Home" hide-back-button="true" hide-nav-bar="true">
  <div class="bar-light">
    <img src="./features/home/sv-logo.png" style="width: 130px; margin-top: 20px; margin-left:7px;">
    <color-bars-wrapper>
      <color-bars>
        <dark-green></dark-green>
        <mild-green></mild-green>
        <light-green></light-green>
        <orange></orange>
        <mild-blue></mild-blue>
        <light-blue></light-blue>
        <dark-blue></dark-blue>
      </color-bars>
    </color-bars-wrapper>
  </div>
  <ion-content class="padding" style="background-color: rgba(239, 239, 239, 0.4); top:112px;">
    <div>
      <h4>Welcome to RMIT Smart Campus (Location based services)</h4>

      <!-- img src="./features/home/ibeacon.png" style="width: 70px; float: right;" -->
      <img src="img/rmit-logo.svg" style="width: 120px;">
    </div>

    <div class="list card" ng-show="svEvent">

      <div class="item item-avatar">
        <img src="./features/home/avatar.jpeg">
        <h2>Mr. Andrew Smith</h2>
        <p>Your daily schedule on {{svEvent.dates[0]}}</p>
      </div>
      <div class="item item-body">
          <div class="row header">
            <div class="col">Time</div>
            <div class="col">Lecture</div>
            <div class="col">Location</div>
            <div class="col">Direction</div>
          </div>
          <div class="row">
            <div class="col">09:00 AM</div>
            <div class="col">Current Issues in Accounting</div>
            <div class="col">80.02.07</div>
            <div class="col"><img src="img/map-icon.png" style="width: 35px; "></div>
          </div>
        <div class="row">
          <div class="col">01:00 PM</div>
          <div class="col">Financial Planning</div>
          <div class="col">80.06.05</div>
          <div class="col"><img src="img/map-icon.png" style="width: 35px; "></div>
        </div>
        <div class="row">
          <div class="col">04:00 PM</div>
          <div class="col">Cost Analysis and Applications</div>
          <div class="col">12.04.19</div>
          <div class="col"><img src="img/map-icon.png" style="width: 35px; "></div>
        </div>
      </div>

      <div class="item item-body">
        <p style="margin-top: 0;">

        </p>
        <p>Website: <a style="margin-top: 0;" ng-href="{{svEvent.website}}" target="_blank">{{svEvent.website}}</a></p>
        <p>Organised by {{svEvent.organiser}}</p>
      </div>
      <div class="item item-toggle" style="overflow: visible;">
        Notifications<br/>
        <small ng-if="svEvent.notifications" style="font-size:.8em;">Listening to this events' notifications.</small>
        <small ng-if="!svEvent.notifications" style="font-size:.8em;">Enable to receive notifications.</small>
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="svEvent.notifications">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>

  </ion-content>
  <!--<div class="bar bar-footer" style="padding: 0px; height: auto; font-size: .9em;"-->
       <!--ng-class="{true:'bar-positive', false:'bar-dark'}[isBluetoothEnabled]">-->
    <!--<wrapper style="display: block; margin: 0 auto;">-->
      <!--<i class="icon ion-bluetooth" style="margin-right: 5px;"></i>-->
      <!--<small ng-show="!isBluetoothEnabled">-->
        <!--Bluetooth is disabled-->
      <!--</small>-->
      <!--<small ng-show="isBluetoothEnabled">-->
        <!--Bluetooth is enabled-->
      <!--</small>-->
    <!--</wrapper>-->
  <!--</div>-->
</ion-view>
