<ion-view view-title="Home" hide-back-button="true" hide-nav-bar="true">
  <div class="bar-light">
    <img src="./features/home/sv-logo.png" style="width: 130px; margin-top: 20px; margin-left:7px;">
    <color-bars-wrapper>
      <color-bars>
        <dark-green></dark-green>
        <mild-green></mild-green>
        <light-green></light-green>
        <orange></orange>
        <mild-blue></mild-blue>
        <light-blue></light-blue>
        <dark-blue></dark-blue>
      </color-bars>
    </color-bars-wrapper>
  </div>
  <ion-content class="padding" style="background-color: rgba(239, 239, 239, 0.4); top:112px;">
    <div>
      <h4>Welcome to SV Events</h4>
      Here is the list of events which is happening at Spatial Vision now.
      <!--This project is a demonstration of IBeacon capability in combination with ionic.-->
    </div>
    <!--<img src="./features/home/ibeacon.png" style="width: 100px;">-->

    <div class="list card" ng-show="svEvent">

      <div class="item item-avatar">
        <img src="./features/home/avatar.jpeg">
        <h2 ng-bind="svEvent.name"></h2>
        <p>March 26, 2016</p>
      </div>

      <div class="item item-body">
        <p style="margin-top: 0;" ng-bind="svEvent.summary"></p>
        <p>Presenters: {{svEvent.presenters}}</p>
        <p>Website: <a style="margin-top: 0;" ng-href="{{svEvent.website}}" target="_blank">{{svEvent.website}}</a></p>
        <p>Organised by {{svEvent.organiser}}</p>
      </div>
      <div class="item item-toggle" style="overflow: visible;">
        Notifications<br/>
        <small ng-if="svEvent.notifications" style="font-size:.8em;">Listening to this events' notifications.</small>
        <small ng-if="!svEvent.notifications" style="font-size:.8em;">Enable to receive notifications.</small>
        <label class="toggle toggle-positive">
          <input type="checkbox" ng-model="svEvent.notifications">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>
    </div>

  </ion-content>
  <!--<div class="bar bar-footer" style="padding: 0px; height: auto; font-size: .9em;"-->
       <!--ng-class="{true:'bar-positive', false:'bar-dark'}[isBluetoothEnabled]">-->
    <!--<wrapper style="display: block; margin: 0 auto;">-->
      <!--<i class="icon ion-bluetooth" style="margin-right: 5px;"></i>-->
      <!--<small ng-show="!isBluetoothEnabled">-->
        <!--Bluetooth is disabled-->
      <!--</small>-->
      <!--<small ng-show="isBluetoothEnabled">-->
        <!--Bluetooth is enabled-->
      <!--</small>-->
    <!--</wrapper>-->
  <!--</div>-->
</ion-view>
