<?xml version='1.0' encoding='utf-8'?>
<manifest android:hardwareAccelerated="true" android:versionCode="1" android:versionName="0.0.1" package="au.com.spatialvision.SVBeaconPrototype" xmlns:android="http://schemas.android.com/apk/res/android">
    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true" android:xlargeScreens="true" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.sensor.accelerometer"
                  android:required="true" />
    <uses-feature android:name="android.hardware.sensor.compass"
                  android:required="true" />
    <uses-feature android:name="android.hardware.sensor.gyroscope"
                  android:required="true" />
    <uses-feature android:name="android.hardware.wifi"
                  android:required="true" />
    <application android:hardwareAccelerated="true" android:icon="@drawable/icon" android:label="@string/app_name" android:supportsRtl="true">
        <meta-data android:name="com.indooratlas.android.sdk.API_KEY" android:value="2b5e8528-70c9-4c95-8e64-226e7c919cfd" />
        <meta-data android:name="com.indooratlas.android.sdk.API_SECRET" android:value="dyfD7tUArh2adsuSV)2Ri99v6bt1E%KwP1zOkYy4)84wZO9NjvV6bMKbqnhGg63dAhlJjVk(fPM4QjQv%ukHK%fnAXvFCuyDKgEeH7oXtIyAEuuM%7GAKusyC%6XUoW(" />
        <activity android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale" android:label="@string/activity_name" android:launchMode="singleTop" android:name="MainActivity" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="adjustResize">
            <intent-filter android:label="@string/launcher_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="org.altbeacon.beacon.startup.StartupBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="true" android:isolatedProcess="false" android:label="iBeacon" android:name="org.altbeacon.beacon.service.BeaconService" />
        <service android:enabled="true" android:name="org.altbeacon.beacon.BeaconIntentProcessor">
            <meta-data android:name="background" android:value="true" />
            <intent-filter android:priority="1">
                <action android:name="com.unarin.cordova.beacon.IBeaconPlugin.DID_RANGING" />
                <action android:name="com.unarin.cordova.beacon.IBeaconPlugin.DID_MONITORING" />
            </intent-filter>
        </service>
    </application>
    <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="23" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
</manifest>
