<ion-view>
  <ion-content style="bottom:23px;">

    <p class="hint-text">
      <i class="icon ion-android-bulb"></i>
      <text>
        Tap "Range Beacons" to locate all the beacons.
        You will see a list of beacons sorted based on their distance from your device.
      </text>
    </p>
    <button ng-if="!ranging" class="button button-full button-positive" ng-click="startRangingBeaconsInRegion()">
      Range Beacons
    </button>
    <button ng-if="ranging" class="button button-full button-assertive" ng-click="stopRangingBeaconsInRegion()">
      Stop Ranging
    </button>
    <beacons ng-if="rangedBeacons.length > 0" class="padding" style="display: block;">
      <h4>Ranged Beacons</h4>
      <div class="card" ng-repeat="beacon in rangedBeacons | orderBy:'accuracy'"
      ng-init="colour = findColour(beacon)">
        <div class="item item-divider" style="background-color: {{colour}}; color: #fff">
          {{find(beacon).locationName}}
        </div>
        <div class="item item-text-wrap">
          <p>UUID: {{beacon.uuid}}:{{beacon.major}}:{{beacon.minor}}</p>
          <p>Proximity: {{beacon.proximity}} ({{beacon.accuracy}})</p>
        </div>
      </div>
    </beacons>

  </ion-content>
  <div class="bar bar-footer" style="padding: 0px; font-size: .9em;"
       ng-class="{true:'bar-positive', false:'bar-dark'}[isBluetoothEnabled]">
    <wrapper style="display: block; margin: 0 auto;">
      <i class="icon ion-bluetooth" style="margin-right: 5px;"></i>
      <small ng-show="!isBluetoothEnabled">
        Bluetooth is disabled
      </small>
      <small ng-show="isBluetoothEnabled">
        Bluetooth is enabled
      </small>
    </wrapper>
  </div>
</ion-view>
