<ion-side-menus enable-menu-with-back-views="true" expose-aside-when="large">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-positive">
            <ion-nav-back-button>
            </ion-nav-back-button>
          Test
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-content>
            <div class="my-details" ng-if="myDetails">
                <p class="my-details">{{myDetails.name}}</p>
                <p class="my-details">{{myDetails.email}}</p>
            </div>
            <ion-list>
                <ion-item menu-close href="#/app/home">
                    <i class="icon icomoon home"></i>
                    Home
                </ion-item>
                <ion-item menu-close href="" ng-click="go('app.my-details')">
                    <i class="icon my-details"></i>
                    My Details
                </ion-item>
                <ion-item menu-close href="" ng-click="go('app.range')">
                    <i class="icon range"></i>
                    Range Beacons
                </ion-item>

                <ion-item ng-if="isDebugMode" menu-close href="" ng-click="go('app.clear-cache')">
                    Clear cache
                </ion-item>
                <ion-item menu-close href="" ng-click="go('app.validate-species')"
                          ng-if="isWebUat && isDebugMode">
                    Validate Species Data
                </ion-item>
                <ion-item ng-if="isDebugMode" menu-close href="" ng-click="showLogs()">
                    Show logs
                </ion-item>

                <div menu-close href="" style="padding:10px;">
                    version: {{appVersion}}
                </div>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
