
.leaflet-container {
  height: 100%;
  width: 100%;
}

.map-view .scroll {
  height: 100%;
}

.map-wrapper {
  height: 100%;
  width: 100%;
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 65px;
  map{
    height: 100%;
    display: block;
    width: 100%;
    position: relative;
  }

  @media (max-width: 767px) {
    .search-addon {
      left: 45px;
      width: 190px;
    }
  }

}

.leaflet-div-icon {
  border-radius: 50%;
  border: solid 2px #fff !important;
  background-color: #c71a0a !important;
  box-shadow: #666 0px 0px 4px 2px;
}

map-wrapper, map{
  display: block;
  width: 100%;
  height: 100%;
}

.leaflet-control-locate.leaflet-bar.leaflet-control {
  position: fixed;
  right: 0;
  bottom: -50px;
  margin-bottom: 0;
  margin-top: 0;
  z-index: 998;
  border: none;
}

.leaflet-touch .leaflet-bar a.leaflet-bar-part.leaflet-bar-part-single {
  display: inline-block;
  color: #fff;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 0;
  background-color: #fff;
  transition: .3s;
  cursor: pointer;
  vertical-align: middle;
  width: 55.5px;
  height: 55.5px;
  line-height: 53.5px;
  border-radius: 50%;
  border: 1px solid #ccc;
  span {
    font-size: 1.6rem;
  }
  i {
    width: inherit;
    display: inline-block;
    text-align: center;
    color: #fff;
    font-size: 2rem;
    line-height: 55px;
  }
  &:hover {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15);
  }
}

.leaflet-control-attribution.leaflet-control{
  display: none;
}

.ion-android-locate {
  color: gray;
}

.leaflet-control-locate.active{
  .ion-android-locate {
    color: blue;
  }
}

.waves-effect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition: all .3s ease-out;
}

.angular-leaflet-map.leaflet-container {
  position: static !important;
}
